<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
		<div class="container-md text-center">
			<h1>Why Spring Boot Use?</h1>
			<p>Most [of our] services today are all based on Spring Boot. 
			I think the most important thing is that [Spring] has just been very well maintained over the years...
			that is important for us for the long term 
			because we don’t want to be switching to a new framework every two years.</p>
		</div>
	</th:block>
</th:block>